@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/fonts/Montserrat-Regular.woff2');
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('../../assets/fonts/Montserrat-Bold.woff2');
}

@font-face {
  font-family: 'Montserrat ExtraBold';
  src: url('../../assets/fonts/Montserrat-ExtraBold.woff2');
}
