:root {
  --black: #212022;
  --white: #ffffff;
  --gray: #f2f2f2;
  --red: #e73737;
  --bg: #ececec;
  --main: #304e49;
  --skeleton: #f3f3f3;
}

//breakpoints
$uls: 2100px;
$ls: 1366px;
$br1: 960px;
$br2: 860px;
$br3: 768px;
$br4: 460px;
