.departments-list {
  position: relative;
}

.departments-list__current {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: vw(8);
  background-color: var(--white);
  color: var(--accent);
  border: 1px solid var(--accent);
  width: fit-content;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: vw(18);
  letter-spacing: 0.01em;
  padding: vw(20);
  border-radius: vw(20);
  transition: opacity 0.3s ease;

  svg {
    transition: transform 0.3s ease;

    path {
      fill: var(--accent);
    }
  }

  &:hover {
    opacity: 0.8;
  }

  @media (max-width: $br1) {
    border-radius: 20px;
    padding: 12px;
    column-gap: 8px;
    font-size: 16px;
  }

  @media (max-width: $br3) {
    width: 100%;
  }

  @media (max-width: $br4) {
    font-size: 14px;
  }

  &--active {
    svg {
      transform: rotate(180deg);
    }
  }
}

.departments-list__modal {
  position: absolute;
  top: vw(68);
  left: 0;
  width: 100%;
  max-width: 100%;
  padding: vw(16) 0;
  background-color: var(--white);
  border-radius: 0 vw(20) vw(20) vw(20);
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
  max-height: 16vh;
  overflow: auto;
  pointer-events: none;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    pointer-events 0.3s ease;

  @media (max-width: $br1) {
    top: 46px;
    padding: 12px 0;
    border-radius: 0 20px 20px 20px;
    max-height: 16vh;
  }

  &--active {
    opacity: 1;
    pointer-events: auto;
  }
}

.departments-list__list {
  display: flex;
  flex-direction: column;

  @media (max-width: $br1) {
    row-gap: 8px;
  }
}
