.filter {
  display: flex;

  @media (min-width: $br1) {
    flex-wrap: wrap;
    align-items: center;
    gap: vw(9);
  }

  @media (max-width: $br1) {
    width: 100vw;
    overflow-y: auto;
    gap: 8px;
    padding: 0 40px;
    margin-left: -40px;
  }

  @media (max-width: $br4) {
    padding: 0 20px;
    margin-left: -20px;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.filter__btn {
  display: block;
  background-color: #f9f9f9;
  padding: vw(14) vw(24);
  border-radius: 30px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: vw(16);
  transition: background-color 0.2s ease;

  &--active {
    background-color: #282828;
    color: var(--white);

    &:hover {
      background-color: #282828 !important;
    }
  }

  &:hover {
    background-color: #dbdbdb;
  }

  @media (max-width: $br1) {
    font-size: 14px;
    padding: 10px 16px;
  }
}
