.form__title {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: vw(32);
  letter-spacing: 0.01em;

  @media (max-width: $br1) {
    font-size: 28px;
  }

  @media (max-width: $br4) {
    font-size: 20px;
  }
}

.form__content-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: vw(52);
  margin-top: vw(54);
  max-width: 100%;

  @media (max-width: $br1) {
    margin-top: 42px;
    row-gap: 52px;
  }
}

.form__btn {
  margin-top: vw(42);

  @media (max-width: $br1) {
    margin-top: 40px;
  }
}

.complete-form {
  .modal__wrapper {
    height: fit-content;
  }

  .modal__content {
    padding: vw(20);
    padding-bottom: vw(30);

    @media (max-width: $br1) {
      padding: 14px;
      padding-bottom: 28px;
    }
  }
}

.form__modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.form__done-text {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: vw(32);
  letter-spacing: 0.01em;
  text-align: center;
  max-width: 70%;

  @media (max-width: $br1) {
    font-size: 28px;
    max-width: 100%;
  }

  @media (max-width: $br4) {
    font-size: 20px;
  }
}

.form__back-btn {
  margin-top: vw(74);
  background-color: var(--white);
  color: #cacaca;
  border: 1px solid #d3d3d3;
  transition: all 0.2s ease;

  path {
    transition: all 0.2s ease;
  }

  &:hover {
    background-color: #282828;
    color: var(--white);

    path {
      stroke: var(--white);
    }
  }

  @media (max-width: $br1) {
    margin-top: 40px;
  }
}
