.input-wrapper {
  position: relative;
  min-width: vw(290);

  @media (max-width: $br1) {
    min-width: 150px;
  }
}

.input {
  width: 100%;
  border: 1px solid #909090;
  border-radius: 10px;
  padding: vw(8) vw(14);
  padding-right: vw(40);
  padding-left: vw(40);
  transition: all 0.2s ease;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: vw(16);
  color: black;

  &:focus {
    border: 1px solid #282828;
  }

  &::placeholder {
    color: #909090;
  }

  @media (max-width: $br1) {
    padding: 8px;
    padding-left: 26px;
    padding-right: 26px;
    font-size: 14px;
  }
}

.input__close-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: vw(14);
  cursor: pointer;
  background-color: transparent;

  svg {
    display: block;
    width: vw(20);
    height: vw(20);

    @media (max-width: $br1) {
      height: 14px;
      width: 14px;
    }
  }

  @media (max-width: $br1) {
    right: 8px;
  }
}

.input__search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: vw(14);

  svg {
    display: block;
    width: vw(20);
    height: vw(20);

    @media (max-width: $br1) {
      height: 14px;
      width: 14px;
    }
  }

  @media (max-width: $br1) {
    left: 8px;
  }
}
