.search-city {
  position: relative;
}

.search-city__input {
  width: 34%;

  @media (max-width: $br3) {
    width: 100%;
  }
}

.search-city__city-name {
  background-color: var(--accent);
  color: var(--white);
  width: fit-content;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: vw(18);
  letter-spacing: 0.01em;
  padding: vw(20);
  border-radius: vw(20);
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.8;
  }

  @media (max-width: $br1) {
    border-radius: 20px;
    padding: 12px;
    font-size: 16px;
  }

  @media (max-width: $br3) {
    width: 100%;
  }

  @media (max-width: $br4) {
    font-size: 14px;
  }
}

.search-city__modal {
  position: absolute;
  top: vw(34);
  left: 0;
  width: 100%;
  max-width: 100%;
  padding: 0;
  background-color: var(--white);
  border-radius: vw(20);
  box-shadow: none;
  max-height: 0;
  overflow: auto;
  pointer-events: none;
  transition:
    max-height 0.3s ease,
    padding 0.3s ease,
    box-shadow 0.3s ease;

  @media (max-width: $br1) {
    top: 27px;
    border-radius: 20px;
  }

  &--active {
    pointer-events: auto;
    max-height: 120px;
    padding: vw(16) 0;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);

    @media (max-width: $br1) {
      padding: 12px 0;
    }
  }
}

.search-city__list {
  display: flex;
  flex-direction: column;

  @media (max-width: $br1) {
    row-gap: 8px;
  }
}
