* {
  &::selection {
    color: white;
    background: var(--main);
  }
}

.container {
  width: 100%;
  position: relative;
  padding-left: vw(40);
  padding-right: vw(40);

  @media (max-width: $br1) {
    padding-left: 26px;
    padding-right: 26px;
  }

  @media (max-width: $br3) {
    padding-left: 20px;
    padding-right: 20px;
  }

  &--nm {
    padding-left: 0;
    padding-right: 0;
  }
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  column-gap: vw(20);
  row-gap: vw(20);
  grid-auto-flow: row;

  @media (max-width: $br1) {
    column-gap: 20px;
    row-gap: 20px;
  }

  @media (max-width: $br4) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.section {
  padding-top: vw(100);

  &--pb {
    padding-bottom: vw(100);
  }

  &--nm {
    padding-top: 0;
  }

  @media (max-width: $br1) {
    padding-top: 75px;

    &--pb {
      padding-bottom: 75px;
    }
  }

  @media (max-width: $br3) {
    padding-top: 70px;

    &--pb {
      padding-bottom: 70px;
    }
  }
}

.ratio-img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  // aspect-ratio: ratio(800, 800);
}

.app {
  padding: vw(45) vw(55);
  height: 100%;
  width: 100%;
  background-color: #ffdf8c;

  @media (max-width: $br1) {
    padding: 16px 20px;
  }

  @media (max-width: $br4) {
    padding: 18px 10px;
  }
}

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: var(--white);
  border-radius: 10px;
  padding-bottom: vw(40);
  min-height: 100vh;

  @media (max-width: $br1) {
    padding-bottom: 20px;
  }
}
