.home-1 {
  padding-bottom: vw(20);

  @media (max-width: $br3) {
    margin-top: 12px;
    padding-bottom: 16px;
  }
}

.home-1__menu {
  display: flex;

  @media (min-width: $br3) {
    margin-top: 20px;
  }

  @media (min-width: $br1) {
    justify-content: space-between;
    align-items: center;
    margin-top: vw(40);
  }

  @media (max-width: $br1) {
    flex-direction: column;
    row-gap: 14px;
  }
}

.home-1__filter-wrapper {
  @media (max-width: $br1) {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
}

.home-1__content {
  margin-top: vw(32);

  @media (max-width: $br1) {
    margin-top: 24px;
  }
}

.home-1__title {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: vw(32);
  letter-spacing: 0.01em;

  @media (max-width: $br1) {
    font-size: 28px;
  }

  @media (max-width: $br4) {
    font-size: 20px;
  }
}

.home-1__items-wrapper {
  grid-template-columns: repeat(4, 1fr);
  column-gap: vw(35);
  row-gap: vw(65);
  margin-top: vw(35);

  @media (max-width: $br1) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 26px;
    margin-top: 24px;
  }

  @media (max-width: $br3) {
    grid-template-columns: repeat(1, 1fr);
  }
}
